@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #FFF8E7;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    color: #FFA500;
    font-size: 115px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Oswald', serif;
    margin: 0px;
    white-space: nowrap;
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    border-radius: 10px;
}

h1 {
    color: #FFA500;
    margin: 8px 0 0 25px;
    font-family: 'Anton', serif;
    font-size: 40px;
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 100px;
    display: inline-block;
    padding: 0px 20px;
    background-color: #FFF8E7;
    border-radius: 5px;
    cursor: pointer;
}

.p1 {
    color: #66B2B2;
    text-align: center;
    font-size: 45px;
    margin: 0px;
    position: absolute;
    top: 40%;
    max-width: 700px;
    overflow-wrap: break-word;
    left: 50%;
    font-family: 'Barlow Condenesed', serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF8E7;
    box-shadow: 0 8px 16px(0, 0, 0, 0, 5);
    transform: translateX(-50%);
    border-radius: 10px;

}










#LoginPage {
    top: 22px;
    left: 85%;
}

#GamesPage {
    top: 22px;
    left: 70%;
}

#HelpPage {
    top: 22px;
    left: 55%;
}

#HomeworkPage {
    top: 22px;
    left: 40%;
}


.HomepageButtons {
    position: absolute;
    background-color: #FFF8E7;
    border: none;
    z-index: 3;
    width: 150px;
    height: max-content;
    padding: 16px;
    overflow: hidden;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Baskervville SC', serif;
    font-weight: bold;
    color: #FFA500;
    text-align: center;
    text-decoration: none;

}

.HomepageButtons::before {
    content: "";
    position: absolute;
    background-color: #003366;
    height: 100%;
    width: 0%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.3s ease;
}

.HomepageButtons:hover::before {
    width: 100%;
}


#TopRectangleBar {
    width: 100%;
    height: 100px;
    background: #66B2B2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}





#HomePageImg img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: index back;
    object-fit: cover;
    object-position: top;



}

#LogoImg {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 5px;
    left: 18px;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    z-index: 3;
}

.BigButtons {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    z-index: 3;
    transition: 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

}

.BigButtons:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);


}

#GameButton {
    position: absolute;
    background-image: url('/GameImg.avif');
    top: 60%;
    left: 2%;

}

#HomeworkButton {
    position: absolute;
    top: 60%;
    left: 27.25%;
    background-image: url('/BookImg.avif')
}

#HelpButton {
    position: absolute;
    top: 60%;
    left: 52.25%;
    background-image: url('/HelpImg.avif')
}

#LoginButton {
    position: absolute;
    top: 60%;
    left: 77.5%;
    background-image: url('/LoginImg.avif')
}